* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/stage.jpg) center;
    background-size: cover;
    overflow: hidden;
}

/*efeito com as imagens*/
.slider {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
}
/*fazendo as faixas vermelhas*/
.slider:before {
    content: '';
    position: absolute;
    bottom: -120px;
    left: 0;
    width: 100%;
    height: 220px;
    border-top: 12px solid #fff;
    border-bottom: 12px solid #fff;
    background: #B22222;
    box-sizing: border-box;
}
/**/

.slider img {
    max-width: 600px;
    position: absolute;
    bottom: 0;
    max-height: 100%;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 560px;
    display: flex;
    justify-content: center;
}

/*removendo fundo sombreado das imagens*/
.swiper-container-3d .swiper-slide-shadow-left {
    background-image: none;
}
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}